body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main-nav{
    z-index: 9999 !important;
}

.menu-main a{
    color: #fff !important;
    text-align: right;
}

.nav-transparent{
    background-color: transparent;
}

.main-section{
    position: relative;
    top: -4.2rem;
    overflow: hidden;
}

.navbar a{
    color: #fff;
}

.wave-1 img, .wave-2 img{
    position: absolute;
    top: 0;
    max-width: 125%;
}

.wave-1 img{
    left: 0;
}

.wave-2 img{
    right: 0rem;
    position: absolute;
    top: 0;
}

.title-principal, .subtitle-principal{
    z-index: 100;
}

.title-principal{
    font-weight: 800;
    position: absolute;
    top: 15rem;
    left: 8rem;
    font-size: 5rem;
}

.subtitle-principal{
    position: absolute;
    top: 20rem;
    left: 10rem;
    font-size: 1.25rem;
    font-weight:initial;
}

#learn-more-button, #request-demo-button{
    position: absolute;
    bottom: 17%;
    padding: .5rem 2rem;
}

#learn-more-button{ 
    left: 5%;   
}

#request-demo-button, #call-action-button{
    left: 17%;
    background-color: #F27137;
    border-color: #F27137;
    color:#fff
}

#request-demo-button:hover, #call-action-button:hover{
    background-color: #c4450a !important;
    border-color: #c4450a !important;
}

.product-section{
    background-color:#F0F7FC;
}

.product-title{
    text-align: center;
    font-weight: 800;
    padding: 5rem;
}

.btn-pills{
    border-radius: 25px;
}

.btn-product{
    padding: .5rem 2rem;
}

.call-action-section{
    background-image: url('/img/call-action.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.title-call-action{
    margin-top: 250px;
    margin-left: 5rem;
    font-weight: 900;
    color: #fff;
}

#call-action-button{
    margin-left: 5rem;
}

.description{
    font-size: 75%;
}

.social-item{
    background-color: #6c757d;
    border-radius: 100px;
    padding: 0.55rem 0.15rem;
    margin-right: 1rem;
    width: 40px;
    height: 40px
}

.social-nav{
    flex-direction: unset;
}




@media screen and (min-width: 415px) and (max-width: 1024px){
    .menu-main a{
        text-align: center;
        padding: 1rem;
    }

    .navbar-transparent{
        background-color: transparent;
    }

    .navbar-brand img{
        display: none;
    }


    /* .wave-1 img , .wave-2 img{
        display: none;
    } */
/* 
    #learn-more-button,  #request-demo-button{
        display: none;
    } */

    .title-principal{
        top: 4rem;
        text-shadow: 1px 2px 6px rgb(95, 95, 95);
        left: 3.5rem;
    }

    .subtitle-principal{
        top: 9rem;
        text-shadow: 1px 2px 6px rgb(95, 95, 95);
        left: 6rem;
    }

    #learn-more-button, #request-demo-button{
bottom: 5%;
    }

    #request-demo-button{
        left:28%;
    }

    .btn-product{
        font-size: 12px;
    }
}

@media screen and (max-width: 414px){

    .menu-main a{
        text-align: center;
        padding: 1rem;
    }
    
    .main-section{
        position: relative;
        top: -4rem;
    }


    

    /* #learn-more-button,  #request-demo-button{
        display: none;
    } */

    .title-principal{
        font-size: 37px;
        top: 3rem;
        left: 3rem;
        text-shadow: 1px 2px 6px rgb(95, 95, 95);
    }

    .subtitle-principal{
        top: 5.5rem;
        left: 3rem;
        text-shadow: 1px 2px 6px rgb(95, 95, 95);
        font-size: 14px;;
    }



    .product-title{
        padding: 2rem;
    }

    #learn-more-button{
        bottom: 0;
        top: 66%
    }

    #learn-more-button, #request-demo-button{
        bottom: 0;
        top: -4rem;
        position: relative;
    }

    #request-demo-button{
        left: 6%;
    }

    .title-call-action{
        margin-left: 2rem;
    }

    .wave-1 img , .wave-2 img{
        max-width: 80%;
    }

    .wave-2 img{
        position: relative;
        top: 0px;
        right: -5rem;
    }

    .navbar-brand img{
        display: none;
    }
}

